*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: system-ui;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    background: transparent;
    &:focus{
        outline: none;
        border: none;
    }
}

body{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.container{
    max-width: 1128px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

img{
    display: block;
    
}

@import 'header';
@import 'notes';
@import 'modal';